@model IEnumerable<MenuApp.Models.StoreData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itemname.item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{

            List<int> id = Model.GroupBy(x => x.User.userid).Select(x => x.Key).ToList();
            int i = 0;
        }
        @foreach (var item in Model.GroupBy(x => x.User.username, (key, items) => new { username = key, Count = items.Count() }))
        {

            
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>

                <td>
                    <a asp-action="Create" asp-route-id="@id[i]">Edit</a> |
                    <a asp-action="Details" asp-route-id="@id[i]">Details</a> |
                    <a asp-action="Delete" asp-route-id="@id[i]" new { onclick="return confirm('Are you sure you want to delete this?');" }>Delete</a>
                </td>

            </tr>
            i++;
        }
    </tbody>
</table>
